In [1]:
# Group 3

In [1]:
import pandas as pd
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [2]:
# load dataset
df = pd.read_csv('/Users/muhammadraza/Documents/GitHub/BIPM/Data Science/data/Dataset_Melbourne.csv', index_col=None)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [3]:
# Some features are missing for a lot of the data.
# Most are floats and some are objects

# Dropping the nulls

df = df.dropna()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8887 entries, 2 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8887 non-null   object
 1   Address        8887 non-null   object
 2   Rooms          8887 non-null   int64
 3   Type           8887 non-null   object
 4   Price          8887 non-null   float64
 5   Method         8887 non-null   object
 6   SellerG        8887 non-null   object
 7   Date           8887 non-null   object
 8   Distance       8887 non-null   float64
 9   Postcode       8887 non-null   float64
 10  Bedroom2       8887 non-null   float64
 11  Bathroom       8887 non-null   float64
 12  Car            8887 non-null   float64
 13  Landsize       8887 non-null   float64
 14  BuildingArea   8887 non-null   float64
 15  YearBuilt      8887 non-null   float64
 16  CouncilArea    8887 non-null   object
 17  Lattitude      8887 non-null   float64
 18  Longtitude     8887 non-null   float64
 19  Regionname     8887 non-null   object
 20  Propertycount  8887 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.5+ MB

In [5]:
X = df[['Rooms', 'Distance', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt']]
y = df['Price']

In [8]:
imputer_median = SimpleImputer(strategy="median", add_indicator=True)

ct = ColumnTransformer(
    [('imputer', imputer_median, ['Price'])],
    remainder='passthrough'
)

transformed_df = ct.fit_transform(df)

In [9]:
transformed_df

array([[1480000.0, 'Abbotsford', '85 Turner St', ..., 144.9984,
        'Northern Metropolitan', 4019.0],
       [1035000.0, 'Abbotsford', '25 Bloomburg St', ..., 144.9934,
        'Northern Metropolitan', 4019.0],
       [1465000.0, 'Abbotsford', '5 Charles St', ..., 144.9944,
        'Northern Metropolitan', 4019.0],
       ...,
       [705000.0, 'Yarraville', '147A Severn St', ..., 144.87856,
        'Western Metropolitan', 6543.0],
       [1140000.0, 'Yarraville', '12/37 Stephen St', ..., nan,
        'Western Metropolitan', 6543.0],
       [1020000.0, 'Yarraville', '3 Tarrengower St', ..., 144.89351,
        'Western Metropolitan', 6543.0]], dtype=object)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify=y, random_state=1)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.